[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.17.4"
scipy="==1.4.0"
pandas="==0.25.3"
notebook="==6.1.5"


[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
